### **Programa de Comparação de Relatorios**

Objetivo:
- Pegar duas bases de dados(relatorios) que sera selecionado pelo usuario e comparar valores`
- Os valores a serem de compras feitas pegos serão:
    - Compras feitas pela mesma pessoa
    - Valor
    - Horario
- O sistema deve compliar isso em um arquivo CSV mostrando o valor comprado por cada pessoa e tambem mostrar os valores que nao conseguiram ser associados

In [ ]:
import pandas as pd

# 1. Lê o arquivo
df = pd.read_excel("C:/Users/user/Desktop/MovimentaçãoPixBB (5).xls")

df["dataEHora"] = df["dataEHora"].astype(str) \
    .str.replace("h", ":", regex=False) \
    .str.replace("m", ":", regex=False) \
    .str.replace("s", "", regex=False) \
    .str.replace("•", "", regex=False) \
    .str.replace(" ", "", regex=False)

# 3. Converte para datetime
df["dataEHora"] = pd.to_datetime(df["dataEHora"], errors="coerce")

# 4. Cria colunas separadas
df["data"] = df["dataEHora"].dt.date
df["hora"] = df["dataEHora"].dt.strftime("%H:%M:%S")

# 5. Novo DataFrame apenas com as colunas desejadas
df_final = df[["data", "hora", "origemDestinatario", "valor"]]

# Mostra o resultado
display(df_final)

C:\Users\user\AppData\Local\Temp\ipykernel_21720\1635097703.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["dataEHora"] = pd.to_datetime(df["dataEHora"], errors="coerce")

    data hora                 origemDestinatario    valor
0    NaT  NaN      Marcos Andre Costa dos Santos   124.99
1    NaT  NaN               Johnny Fernando Vera   124.99
2    NaT  NaN                Ariani Alencar Joao    99.99
3    NaT  NaN             Lucas da Silva Pereira   374.49
4    NaT  NaN  Maria da Conceicao Gomes da Rocha   129.99
..   ...  ...                                ...      ...
313  NaT  NaN            Danilo Mattos Rodrigues   114.99
314  NaT  NaN           Leonardo Vinicio Affonso   329.99
315  NaT  NaN       Elias Richards Reis da Silva   129.99
316  NaT  NaN        Kalinne Rodrigues Fernandes   129.99
317  NaT  NaN            Mauricio Andrade Freire  1389.06

[318 rows x 4 columns]